<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>correl_images.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C0770A019018F220090130D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C0770A419018F4E0090130D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C0770A819018F580090130D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C0770AC19018F610090130D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C2B15C818F81D760038A475</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C7D4D9B1901181B001358EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CBBF558190164E400680226</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CEC1A9D190556BF0016A024</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
